.el-icon svg {
    height: 1em;
    width: 1em;
}
.el-image-viewer__wrapper{
    position:fixed;top:0;right:0;bottom:0;left:0
}
.el-image-viewer__btn{
    position:absolute;z-index:1;display:flex;align-items:center;justify-content:center;border-radius:50%;opacity:.8;cursor:pointer;box-sizing:border-box;user-select:none
}
.el-image-viewer__btn .el-icon{
    font-size:inherit;cursor:pointer
}
.el-image-viewer__close{
    top:40px;right:40px;width:40px;height:40px;font-size:40px;width:44px;height:44px;font-size:24px;color:#fff;background-color:var(--el-text-color-regular);border-color:#fff
}
.el-image-viewer__canvas{width:100%;height:100%;display:flex;justify-content:center;align-items:center}
.el-image-viewer__actions{left:50%;bottom:30px;transform:translate(-50%);width:282px;height:44px;padding:0 23px;background-color:var(--el-text-color-regular);border-color:#fff;border-radius:22px}
.el-image-viewer__actions__inner{width:100%;height:100%;text-align:justify;cursor:default;font-size:23px;color:#fff;display:flex;align-items:center;justify-content:space-around}
.el-image-viewer__prev{top:50%;transform:translateY(-50%);left:40px;width:44px;height:44px;font-size:24px;color:#fff;background-color:var(--el-text-color-regular);border-color:#fff}
.el-image-viewer__next{top:50%;transform:translateY(-50%);right:40px;text-indent:2px;width:44px;height:44px;font-size:24px;color:#fff;background-color:var(--el-text-color-regular);border-color:#fff}
.el-image-viewer__mask{position:absolute;width:100%;height:100%;top:0;left:0;opacity:.8;background:#000}
.viewer-fade-enter-active{animation:viewer-fade-in var(--el-transition-duration)}
.viewer-fade-leave-active{animation:viewer-fade-out var(--el-transition-duration)}
@keyframes viewer-fade-in{0%{transform:translateY(-20px);opacity:0}to{transform:translate(0);opacity:1}}
@keyframes viewer-fade-out{0%{transform:translate(0);opacity:1}to{transform:translateY(-20px);opacity:0}}
.el-image__error,.el-image__placeholder,.el-image__inner{width:100%;height:100%}
.el-image{position:relative;display:inline-block;overflow:hidden}
.el-image__inner{vertical-align:top}
.el-image__placeholder{background:var(--el-bg-color)}
.el-image__error{
    display:flex;justify-content:center;align-items:center;font-size:14px;background:var(--el-bg-color);color:var(--el-text-color-placeholder);vertical-align:middle
}
.el-image__preview{
    cursor:pointer
}